.btn-contatto {
    background-color: white;
    margin-left: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #978d8d;
    width: 250px;
    height: 35px;
    color: black;
    align-items: center;
    display:flex;
    justify-content: center;
}
.btn-contatto:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}