h1 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 0px;
    }

    .rubrica-container {
  background-color: orange;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}


.aggiungi:hover {
  background-color: #ffcc00;
  transform: scale(1.05);
}
.riga-contatto {
  display: flex;
  align-items: center;
  gap: 11px;
  width: 100%;



  flex-grow: 1;


app-btnmodifica {
  flex-shrink: 0;
}
}

.contatto-info {
    background-color: white;
    margin-left: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #978d8d;
    width: 250px;
    height: 35px;
    color: black;
    align-items: center;
    display:flex;
    justify-content: center;
}
.contatto-info:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}
