<div class="header-row">
  <h1>Dettagli Contatto</h1>
  
  <div class="button-group">
    <app-btnmodifica></app-btnmodifica><button type="button" class="btn-elimina" (click)="eliminaContatto()">❌</button><app-btnindietro></app-btnindietro>
  </div>
</div>


  

  
  <div class="contatto-dettagli">
    <p><strong>Nome:</strong> {{ c.nome }}</p>
    <p><strong>Cognome:</strong> {{ c.cognome }}</p>
    <p><strong>Telefono:</strong> {{ c.Numtelefono }}</p>
    <p><strong>Email:</strong> {{ c.email }}</p>
  </div>


<div>
  <p>Aggiungi familiare:</p>

  <div>
    <label for="condivisione">Scegli un contatto dalla rubrica:</label>

    <select id="condivisione" name="condivisione" #selectCondivisione>
      <option value="" disabled selected>-- Seleziona un familiare --</option>

      <ng-container *ngFor="let item of listaContatti">
        <option *ngIf="checkContatto(item)" [value]="item.id">
          {{ item.nome }} {{ item.cognome }}
        </option>
      </ng-container>
    </select>
  </div>

  <button type="button" (click)="condividiContatto(+selectCondivisione.value)">Aggiungi familiare</button>

  <h3>Familiari Selezionati</h3>

    <div *ngFor="let f of familiariSelezionati" class="familiare-item">
    <span class="familiare-nome">{{ f.nome }} {{ f.cognome }}</span>
    
      <div class="familiare-actions">
          <a href="/contatto/{{ f.id }}" class="btn-info-custom">info</a>
          <button type="button" (click)="rimuoviFamiliare(f)" class="btn-elimina-custom">Elimina</button>
      </div>
    </div>