<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rubrica</title>
  <link rel="stylesheet" href="rubrica.css">
</head>
<body>
  <h1>Contatti</h1>
    <div class="rubrica-container">
  <div *ngFor="let c of listaContatti" class="contatto">
    <a [routerLink]="['/contatto']" 
   [queryParams]="{ nome: c.nome, cognome: c.cognome, telefono: c.telefono, email: c.email }" 
   style="text-decoration: none; color: black;">
   {{ c.nome }} {{ c.cognome }}
</a>
  </div>
</div>
</body>
</html>