<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rubrica</title>
  <link rel="stylesheet" href="rubrica.css">
</head>
<body>
  <h1>Contatti</h1>
  <app-btnaggiungi-fam></app-btnaggiungi-fam>
<div class="rubrica-container">
  <div *ngFor="let item of listaContatti" class="riga-contatto">
    
    <app-btn-contatto [c]="item"></app-btn-contatto>

    <app-btnmodifica [c]="item"></app-btnmodifica>

  </div>
</div>
  
  <div *ngFor="let c of listaContatti" class="contatto">
    <a [routerLink]="['/contatto', c.id]" 
       [queryParams]="{ id: c.id}" 
       [state]="{ tuttiIContatti: listaContatti }"
       style="text-decoration: none; color: black;">
      <div class="contatto-info">
        <app-btn-contatto [c]="c"></app-btn-contatto>
      </div>
    </a>
  </div>

  <app-btnmodifica></app-btnmodifica>
</body>
</html>
