

.btn-login:hover {
  background-color: #ffcc00;
  transform: translateY(-2px);
}

.btn-login {
  background-color: orange;
  color: #1c1c1c;
  border: 0px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  text-align: center;
  padding: 5px 15px;
  margin-left: 0px;
  margin-top: 10px;
  font-size: 16px;
  width: fit-content;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 30px;
  margin-top: 20px;
  width:fit-content;
}
input{
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
