<div class="form-container">
  <form>
  <h2>Modifica Contatto </h2>
 <form>
<div class="modifica-contatto">
    <label>Nome</label>
    <input type="text" name="nome" [(ngModel)]="nome">

    <label>Cognome</label>
    <input type="text" name="cognome" [(ngModel)]="cognome">

    <label>Numero di telefono</label>
    <input type="text" name="numTelefono" [(ngModel)]="numTelefono">

    <label>Email</label>

    <input type="text" name="email" [(ngModel)]="email">
</div>
    <button class="btn-modifica" (click)="salvaModifiche()">
      Salva
    </button>
<button type="button" class="btn-ritorno" >
    <a 
      href="../" style="text-decoration: none;color: black;">Torna alla rubrica
    </a>  
</button>
  </form>




